---
layout: layouts/base.njk
title: Learn Eleventy
---
<div id="site">
  <img src="img/gr36.png" class="logo" alt="Eleventy logo" />
  <h1>Greg Morris</h1>
  <p>Father of a disabled child and all-around internet weirdo. You can always find me with a keyboard at my fingertips or a camera in my hand.</p>
</div>

<div class="links">
  <a rel="me"  class="link" href="https://gregmorris.co.uk"><i class="icon fa-solid fa-pen-nib"></i>My Blog</a>
  <a rel="me" class="link" href="https://instagram.com/_greg_morris"><i class="icon fa-brands fa-instagram"></i>Instagram</a>
  <a rel="me" class="link" href="https://github.com/gr36"><i class="icon fa-brands fa-github"></i>Github</a>
</div>